@import url('https://fonts.googleapis.com/css2?family=Lusitana:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

.footer-style {
    text-align: center;
    padding: 20px;
    font-size: 16px;
    bottom: 0;
    width: 100%;
    font-family: "Lusitana", serif;
    font-weight: 400;
    font-style: normal;
    color: #DD7EA1;
  }
  
  .heart-icon {
    width: 16px;
    height: 16px;
    vertical-align: middle;
  }

  .cursor {
    display: inline-block;
    width: 1px;
    animation: blink 1s infinite;
  }
  
  @keyframes blink {
    0%, 100% { opacity: 0; }
    50% { opacity: 1; }
  }
  